@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('TTF'),
        url('Gotham Black Regular.ttf') format('TTF');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('truetype'),
        url('Gotham Black Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('truetype'),
        url('Gotham Black Regular.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('truetype'),
        url('Gotham Black Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('truetype'),
        url('Gotham Black Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham Black Regular.ttf') format('ttf'),
        url('Gotham Black Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

