@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Display';
    src: url('SurveyorDisplay-Light-Pro.otf') format('opentype'),
        url('SurveyorDisplay-Light-Pro.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

