@font-face {
    font-family: 'Lora';
    src: url('Lora-Bold.woff2') format('woff2'),
        url('Lora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-SemiBold.woff2') format('woff2'),
        url('Lora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Medium.woff2') format('woff2'),
        url('ClearSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Regular.woff2') format('woff2'),
        url('Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Thin.woff2') format('woff2'),
        url('ClearSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Medium.woff2') format('woff2'),
        url('Lora-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Bold.woff2') format('woff2'),
        url('ClearSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Light.woff2') format('woff2'),
        url('ClearSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.woff2') format('woff2'),
        url('ClearSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

