@media (max-width:767px){
#wrapper {
    padding: 70px 0 84px;
}
#wrapper .custom-header {
    padding: 18px 0;
}
.heading-wrap {
    padding: 0 40px;
}
.heading-wrap h2 {
    line-height: 34px;
    font-size: 21px;
}
.heading-wrap .icon a {
    width: 34px;
    height: 34px;
}
.heading-wrap .icon.close-icon a:before {
    width: 18px;
    height: 2px;
}
.heading-wrap .icon.close-icon a:after {
    height: 18px;
    width: 2px;
}
#wrapper .custom-footer {
    padding:18px 0 25px;
}
.custom-footer .icon-menu a {
    width: 40px;
    height: 40px;
}
.custom-footer .icon-menu a svg {
    max-width: 28px;
    max-height: 28px;
}
.box {
    padding: 15px 25px;
}
.box h2 {
    font-size: 17px;
    margin: 0 0 8px;
}
.date {
    font-size: 12px;
}
.box h2 span.date {
    margin-top: 3px;
}
.box h3 {
    font-size: 17px;
}
.label-box {
    line-height: 20px;
    font-size: 12px;
}
.label-box span {
    font-size: 17px;
    padding-left: 8px;
    line-height: 18px;
}
.notification-wrap .notification-head {
    padding: 15px 70px 15px 20px;
}
.notification-head .close-icon {
    right: 20px;
}
.notification-head > ul li a {
    font-size: 13px;
}
.notification-check label > span {
    padding: 15px 70px 15px 55px;
    line-height: 22px;
    font-size: 15px;
}
.notification-check label > span:before {
    left: 20px;
}
.notification-check label > span:after {
    left: 26px;
}
.notification-check label > span .date {
    right: 20px;
}
.notification-wrap {
    padding-top: 101px;
}
.notification-check {
    margin: 10px 0 0;
}
.heading-wrap .icon.back-icon a:before {
    width: 12px;
    height: 12px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
}
.box.purchuase-box h2 {
    font-size: 20px;
    margin: 0 0 16px;
}
hr.hr-space {
    margin: 0 0 25px;
}
.purchuase-box p {
    font-size: 15px;
    margin: 0 0 10px;
}
.box.purchuase-box h3 {
    font-size: 17px;
}
.cart-box .item {
    padding: 10px 25px;
}
.cart-box .item .img {
    width: 50px;
    margin-right: 15px;
}
.cart-box .item h3 {
    font-size: 17px;
    margin: 0 0 8px;
}
.cart-box .item p {
    font-size: 15px;
    margin: 0 0 3px;
}
.cart-box .item .kes {
    font-size: 15px;
}
button.submit-btn {
    width:100%;
}
.msg-box {
    width: 320px;
}
.msg-box h2 {
    font-size: 17px;
}
.msg-box p {
    font-size: 15px;
}
.msg-box .text {
    padding: 30px 20px;
}
.msg-box .msg-btn {
    line-height: 42px;
    font-size: 17px;
}
.transition-box .label-box span {
    min-width: 40px;
}
p {
    margin-bottom: 0.6rem;
}








}